<!DOCTYPE html>
<html>
<head>
    <title>Parse JSON and Save</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> <!--use bootstrap min.css instead-->
</head>
<body>
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <button id="parse-button" class="btn btn-success btn-lg">Parse Data and Save</button>
    </div>
        <!-- Modal -->
    <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="successModalLabel">Success</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ success_message }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script> <!--use jquery min.js instead-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script> <!--use bootstrap min.js instead-->
    <script>
        $(document).ready(function () {
            $('#parse-button').click(function () {
                $('#successModal').modal('show');
            });
        });
    </script>
</body>
</html>
